<footer>
    <div class="footer_contenido">
        <div class="contacto_info">
        <a href="https://maps.app.goo.gl/Q6zsLEoYSJ4Bu6R38" target="_blank">
            <p>Anatole France 2152, Castelar</p>
            <p>+54 9 11 4472 5182</p>
            <p>info@cafelino.com</p>
        </a>
        </div>
        <div class="redes">
        <a href="https://facebook.com" target="_blank">
            <img src="/assets/logos_apps/facebook_logo.png" alt="Facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="/assets/logos_apps/instagram_logo.png" alt="Instagram" />
        </a>
        <a href="https://youtube.com" target="_blank">
            <img src="/assets/logos_apps/youtube_logo.png" alt="YopuTube" />
        </a>
        </div>
        <div class="mapa_sitio">
        <div class="contenedor_mapa">
            <a href="/"> Inicio </a>
            <a href="/productos"> Productos </a>
            <a href="/contacto"> Contacto </a>
            <a href="/nosotros">Nosotros</a>
        </div>
        <div class="contenedor_mapa">
            <a href="/nosotros#historia">Historia</a>
            <a href="/nosotros#elaboracion">Elaboración de productos</a>
            <a href="/nosotros#petfriendly">Pet Friendly</a>
            <a href="/nosotros#locales">Nuestros locales</a>
            <a href="/nosotros#toque-casero">Un toque casero</a>
        </div>
        </div>
    </div>
    </footer>