<header>
    <div class="contenedor_header">
        <div>
        <a href="/">
            <img
            class="logo_cafelino"
            src="/assets/logo_cafelino/logo_cafelino.jpg"
            alt="logo_cafelino"
            />
        </a>
        </div>
        <div class="texto_header">
        <a href="/">
            <h1>Cafelino</h1>
        </a>
        </div>
        <div class="contenedor_iconos">

<a href="">

        <img src="/assets/header/usuario_1.png" alt="Login" title="Login" />
</a>
        <a href="/carrito">
            <img src="/assets/header/carrito.png" alt="Carrito" title="Carrito" />
        </a>

        </div>
    </div>
    <div class="contenedor_nav">
        <nav>
        <button onclick="location.href='/'"> Inicio </button>
        <button onclick="location.href='/productos'"> Productos </button>
        <button onclick="location.href='/contacto'"> Contacto </button>
        <div class="menu_desplegable">
            <button
            class="desplegable_abajo"
            onclick="location.href='/nosotros'"
            >Nosotros</button>
            <ul class="menu_desplegable_contenido">
            <li><a href="/nosotros#historia">Historia</a></li>
            <li><a href="/nosotros#elaboracion">Elaboración de
                productos</a></li>
            <li><a href="/nosotros#petfriendly">Pet Friendly</a></li>
            <li><a href="/nosotros#locales">Nuestros locales</a></li>
            <li><a href="/nosotros#toque-casero">Un toque casero</a></li>
            </ul>
        </div>
        </nav>
        <div class="contenedor_busqueda">
        <input class="buscador" type=" text" placeholder="Buscar" />
        </div>
    </div>
    </header>