{{!-- views/500.hbs --}}
<main>
  <div class="contenedor_error">
    <h2>Error 404</h2>
    <p>La pagina no pudo ser encontrada</p><br>
    <a href="/">
    <button class="btn-error">
      Volver al inicio
    </button>
    </a>
  </div>
</main>
