{{!-- views/500.hbs --}}
<main>
  <div class="contenedor_error">
    <h2>Error 500</h2>
    <p>Lo sentimos, ocurrió un error en el servidor.</p>
    <a href="/">
    <button class="btn-error">
      Volver al inicio
    </button>
    </a>
  </div>
</main>
