<main>
        <div class="contenedor_principal_nosotros">
            <section class="secciones_nosotros anim-item-left" id="historia">
                <div class="imagen_nosotros ">
                    <img src="../assets/nosotros/historia_cafe.jpg" alt="Historia_Cafe">
                </div>
                <div class="contenedor_info_nosotros_derecha ">
                    <h2>Historia</h2>
                    <div class="separador_nosotros"></div>
                    <p class="texto_nosotros">Desde nuestros inicios, Cafelino ha sido un refugio para los amantes del
                        buen café y los
                        postres artesanales. Inspirados en la calidez de los encuentros y el aroma del café
                        recién
                        hecho, abrimos nuestras puertas con la misión de ofrecer experiencias memorables en cada
                        taza y cada bocado. Con el tiempo, hemos crecido, pero nuestra esencia sigue siendo la
                        misma: un rincón acogedor donde cada visita se siente como en casa.</p>
                </div>
            </section>

            <section class="secciones_nosotros anim-item-right" id="elaboracion">
                <div class="contenedor_info_nosotros_izquierda ">
                    <h2>Elaboración de productos</h2>
                    <div class="separador_nosotros"></div>
                    <p class="texto_nosotros">Cada producto de Cafelino es el resultado de una cuidadosa selección de
                        ingredientes y
                        una
                        elaboración artesanal. Desde nuestros granos de café, tostados con precisión, hasta
                        nuestras
                        recetas caseras de repostería, nos aseguramos de que cada detalle cuente. Creemos en la
                        calidad por encima de todo y trabajamos con proveedores locales para garantizar frescura
                        y
                        sabor en cada preparación.</p>
                </div>
                <div class="imagen_nosotros ">
                    <img src="../assets/nosotros/cucurucho_elaboracion.jpg" alt="">
                </div>
            </section>

            <section class="secciones_nosotros anim-item-left" id="petfriendly">
                <div class="imagen_nosotros ">
                    <img src="../assets/nosotros/pet_friendly_1.jpg" alt="">
                </div>
                <div class="contenedor_info_nosotros_derecha">
                    <h2>Pet Friendly</h2>
                    <div class="separador_nosotros"></div>
                    <p class="texto_nosotros">Sabemos que tu mascota es parte de la familia, por eso en Cafelino son más
                        que
                        bienvenidas.
                        Contamos con espacios adaptados para que disfruten junto a ti, además de ofrecerles agua
                        fresca y pequeñas sorpresas pensadas especialmente para ellos. Queremos que cada visita
                        sea
                        una experiencia placentera para todos.</p>
                </div>
            </section>
            <section class="secciones_nosotros anim-item-right" id="locales">

                <div class="contenedor_info_nosotros_izquierda">
                    <h2>Nuestros locales</h2>
                    <div class="separador_nosotros"></div>
                    <p class="texto_nosotros">Nuestros espacios están diseñados para brindarte comodidad y un ambiente
                        relajado. Ya sea
                        que
                        busques un lugar tranquilo para trabajar, compartir un café con amigos o disfrutar de un
                        momento a solas, en Cafelino encontrarás el rincón ideal. Con varias sucursales, siempre
                        hay
                        un Cafelino cerca de ti.</p>
                </div>
                <div class="imagen_nosotros">
                    <img src="../assets/nosotros/locales_1.jpg" alt="">
                </div>
            </section>

            <section class="secciones_nosotros anim-item-left" id="toque-casero">
                <div class="imagen_nosotros">
                    <img src="../assets/nosotros/helado_elaboracion.jpg" alt="">
                </div>
                <div class="contenedor_info_nosotros_derecha">
                    <h2>Un toque casero</h2>
                    <div class="separador_nosotros"></div>
                    <p class="texto_nosotros">Nos encanta que cada cliente se sienta en casa. Desde nuestra decoración
                        acogedora hasta
                        nuestras recetas inspiradas en la cocina casera, buscamos transmitir esa sensación de
                        calidez y cercanía. En Cafelino, cada detalle está pensado para que vivas una
                        experiencia
                        auténtica y reconfortante.</p>
                </div>
            </section>
        </div>
    </main>
    <script src="../js/nosotros.js"></script>